@plugin "daisyui/theme" {
    name: "light";
    default: true; /* set as default */
    color-scheme: light; /* color of browser-provided UI */

    --color-primary: hsl(200, 60%, 99%);
    --color-primary-content: hsl(227, 75%, 14%);
    --color-neutral: hsl(0, 0%, 93%);
    --color-accent: hsl(3, 77%, 44%);
    --color-accent-content: hsl(200, 60%, 99%);

    /* Background linear gradient */
    --color-base-100: #ebf2fc;
    --color-base-200: #eef8f9;
}

@plugin "daisyui/theme" {
    name: "dark";
    default: false; /* set as default */
    color-scheme: dark; /* color of browser-provided UI */

    --color-primary: hsl(226, 25%, 17%);
    --color-primary-content: hsl(200, 60%, 99%);
    --color-neutral: hsl(225, 23%, 24%);
    --color-accent: hsl(3, 86%, 64%);
    --color-accent-content: hsl(200, 60%, 99%);

    /* Background linear gradient */
    --color-base-100: #040918;
    --color-base-200: #091540;
}
